<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript">
      function getRadioButtonValue(rbutton)
      {
        for (var i = 0; i < rbutton.length; ++i)
        {
          if (rbutton[i].checked)
            return rbutton[i].value;
        }
        return null;
      }

      function searchContact(event)
      {
        alert("Favorite weird creature: "+getRadioButtonValue(this["whichThing"]));
        event.preventDefault(); // disable normal form submit behavior
        return false; // prevent further bubbling of event
      }
    </script>
</head>
<body>

<div th:fragment="backdrop">
    <div class="modal_backdrop">

    </div>
</div>

<div class="modal_window" th:fragment="contacts_modal">
    <div id="close_contacts_wrap" class="modal_close_wrap" data-dismiss="modal">
        <div class="modal_close">
        </div>
    </div>
    <div class="modal_content" id="myModal">
        <div class="modal_head">
            <div class="head_title_wrap">
                <div id="contact_action">
                    <a class="contact_action" id="edit_contact">Edit</a>
                    <a class="contact_action contact_close" id="contact_close" data-dismiss="modal">Close</a>
                    <!--<a class="contact_action" id="edit_cancel">Cancel</a>-->
                </div>
            </div>
            <div class="head_title">
                <span class="title_text">Contacts</span>
            </div>
        </div>
        <div class="modal_body">
            <div class="contacts_search" id="contacts_search" >
                <input type="text" class="search_field" id="buttonSearch" placeholder="Search" th:object="${textSearch}">
                <a class="search_dialog_clear" id="clear-contacts-search">
                    <i class="icon_search_clear"></i>
                </a>
            </div>
            <div class="modal_contacts_wrap" id="myModal_body">
                <div class="modal_contacts_list">
                    <div class="list-group contacts_list" id="list_contacts">
                        <th:block th:if="${contacts != null}" th:each="friend : ${contacts}">
                            <a th:href="@{'/dialog/' + ${friend.id}}" class="contact list-group-item"
                               th:text="${friend.firstName} + ' ' + ${friend.lastName}">
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="contacts_footer" >
            <div class="text-center" id="footer_contact">
                <button class="btn btn_contact" id="new_contact" data-toggle="modal" data-target="#modal_add_contact">
                    New contact</button>
                <button class="btn danger delete_btn btn_contact" id="del_btn" >
                    Delete <strong id="counts_delete"></strong></button>
            </div>
        </div>
    </div>


</div>

</body>
</html>