<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/message.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/contacts.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addContact.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dialogsColumn.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rightColumn.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dialog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userInfo.css}"/>
</head>
</html>