h1 {
    color: #930784;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.nav-glyphicon:before {
    padding-right: 3px;
}

body {
    padding-top: 50px;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    min-width: 800px;
}


.navbar-fixed-top {
    background-color: #930784;
}

.navbar-inverse .navbar-nav>li>a {
    font-weight: 700;
    color: #cccef7;
}

#navbar_logo{
    z-index: 1040;
    margin-top: 8px;
    margin-left: 30px;
    position: absolute;
    width: 129px;
    height: 50px;
    top: 0;
    background: url("../image/logo.png") no-repeat;
}
