h1 {
    color: #930784;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.nav-glyphicon:before {
    padding-right: 3px;
}

body {
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: black;
    margin: 0 auto;
    min-width: 480px;
    background: rgba(186, 7, 187, 0.05) url(../img/back.jpg) repeat-x;
    background-size: cover;
    /*overflow: hidden;*/
}

.leftnav,
.rightnav {
    height: 100%;
    z-index: 1;
    top: 0;
    background-color: rgba(186, 7, 187, 0.05);
    overflow-x: hidden;
}

.rightnav p {
    color: #3a0853;
    font-size: 26px;
}

.rightnav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #917ed9;
    display: block;
}

.rightnav a:hover {
    color: #ba07bb;
}

/*Свойства для полей поиска*/
/*==========================*/
.search_field {
    font-size: 12px;
    line-height: normal;
    outline-color: white;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 6px 26px 6px 30px;
    margin: 0;
    width: 100%;
    height: 34px;
    background: url(../image/icons/IconsetW.png) no-repeat -6px -205px;
}

.search_dialog_clear {
    /*display: none!important;*/
    /*display: block;*/
    position: absolute;
    margin-top: -34px;
    right: 12px;
    width: 34px;
    height: 34px;
    opacity: .6;
    outline-color: white;
    cursor: pointer;
}

.icon_search_clear {
    display: inline-block;
    color: #999;
    width: 13px;
    height: 13px;
    margin: 10px 0 0 11px;
    /*vertical-align: text-top;*/
    background: url(../image/icons/IconsetW.png) no-repeat -15px -192px;
}

/*===========================*/

/*Поля контактов*/
.contact {
    cursor: pointer;
}

#choose_dialog {
    text-align: center;
    color: #999;
    font-size: 16px;
    line-height: 18px;
    padding: 0 50px;
    margin: 0;
}

