<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/img/favicon.png}">
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title>Babbler Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<nav th:replace="fragments/navbar :: navbar('main')"></nav>


<div class="im_dialog_col_wrap">
    <div class="im_dialog_panel">
        <div class="im_dialog_search">
            <input type="text" class="search_field" id="dialog-search" placeholder="Search">

            <!--Сделать это - режим видимости/невидимости!!!-->
            <a class="search_dialog_clear" id="clear-dialogs-search">
                <i class="icon_search_clear"></i>
            </a>
        </div>
    </div>

    <div class="leftnav im_dialogs_col">
        <div class="im_dialogs_scrollable_wrap">
            <div class="list-group contacts_list">

                <a href="#" class="contact list-group-item im_dialog active">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            11/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Anton Polushin</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Как твои дела? И..</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            04/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Karina Dergun</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Сделай дизу!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            08/07/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Ruslan Kvasov</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">JPA!!!!!!!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            11/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Anton Polushin</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Как твои дела? И..</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            04/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Karina Dergun</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Сделай дизу!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            08/07/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Ruslan Kvasov</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">JPA!!!!!!!</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            11/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Anton Polushin</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Как твои дела? И..</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            04/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Karina Dergun</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Сделай дизу!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            08/07/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Ruslan Kvasov</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">JPA!!!!!!!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            11/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Anton Polushin</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Как твои дела? И..</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            04/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Karina Dergun</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Сделай дизу!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            08/07/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Ruslan Kvasov</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">JPA!!!!!!!</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            11/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Anton Polushin</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Как твои дела? И..</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            04/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Karina Dergun</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Сделай дизу!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            08/07/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Ruslan Kvasov</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">JPA!!!!!!!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            11/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Anton Polushin</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Как твои дела? И..</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            04/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Karina Dergun</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Сделай дизу!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            08/07/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Ruslan Kvasov</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">JPA!!!!!!!</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--<ul class="nav">-->
            <!--<li class="im_dialog_wrap">Dialog 1</li>-->
            <!--<li class="im_dialog_wrap">Dialog 2</li>-->
            <!--<li class="im_dialog_wrap">Dialog 3</li>-->
            <!--<li class="im_dialog_wrap">Dialog 4</li>-->
            <!--</ul>-->


            <!--Место под поиск диалогов!-->
        </div>
    </div>
</div>


<div class="im_history_col_wrap">
    <div class="dialog">
        <!--<h2>Dialog Example</h2>-->
        <div id="chatbox">
            <div class="im_history_wrap" id="history_wrap">
                <div class="im_history_scrollbar_wrap">
                    <div class="im_history_messages">
                        <th:block th:each="message : ${messages}">
                            <div id="selectMessage" class="chat_form" role="button">
                                <img th:src="@{/img/avatar/men.jpg}" alt="Avatar" style="width:100%;">
                                <input id="messageId" type="hidden" th:value="${message.id}">
                                <p th:text="${message.nameUser}"></p>
                                <div th:wrap="on" th:utext="${message.textMessage.replaceAll('[\n]','<br/> ')}"></div>
                                <span class="time-left" th:text="${message.dateMessage}"></span>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="im_bottom_panel_wrap">
                <div class="im_send_panel_wrap">
                    <div class="im_send_form_wrap1">
                        <div class="im_send_form_wrap">

                            <a class="im_panel_peer_photo pull-right">
                                <span class="peer_initials im_panel_peer_photo">ap</span>
                            </a>
                            <a class="im_panel_own_photo pull-left">
                                <span class="peer_initials im_panel_own_photo">kd</span>
                            </a>

                            <div class="my-send-form">
                                <form id="send_form" th:action="@{/message}" th:object="${message}" method="post">

                                    <div class="im_send_field_wrap">
                                        <div contenteditable="true" my_placeholder="Writing message ..."
                                             class="rich_message"></div>
                                        <textarea id="input_message" form="send_form" class="message"
                                                  dir="auto" th:field="*{textMessage}"></textarea>
                                    </div>

                                    <div class="im_send_buttons_wrap">
                                        <span id="removeMessage" class="glyphicon glyphicon-trash pull-left"
                                              role="button"></span>

                                        <div class="pull-left im_media_attach">
                                            <input id="mediaAttach" type="file" multiple="multiple" title="Send media">
                                            <i class="icon icon_attach"></i>
                                        </div>
                                        <button class="btn im_submit_send" type="submit">SEND</button>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="im_right_col_wrap">
        <div class="rightnav">
            <p align="center">Тут будут стикеры</p>
            <a href="#">one</a>
            <a href="#">two</a>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/message.js/}"></script>
<script type="text/javascript" th:src="@{/js/contacts.js}"></script>
<script type="text/javascript" th:src="@{/js/addContact.js}"></script>
<script type="text/javascript" th:src="@{/js/userInfo.js}"></script>
</body>
</html>
