<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/img/favicon.png}">
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title>Babbler Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<nav th:replace="fragments/navbar :: navbar('main')"></nav>


<div class="im_dialog_col_wrap">
    <div class="im_dialog_panel">
        <div class="im_dialog_search">
            <form th:action="@{/search}" th:object="${textSearch}" method="post">
                <input id="dialog-search" type="text" class="search_field"
                       placeholder="Search" th:field="*{textSearch}"/>
                <!--th:object="${textSearch}" th:field="*{textSearch}"-->
                <!--Сделать это - режим видимости/невидимости!!!-->
                <a class="search_dialog_clear" id="clear-dialogs-search">
                    <i class="icon_search_clear"></i>
                </a>
            </form>
        </div>
    </div>

    <div class="leftnav im_dialogs_col">
        <div class="im_dialogs_scrollable_wrap">
            <div class="list-group contacts_list">

                <a href="/dialog/2" class="contact list-group-item im_dialog active">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            11/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Anton Polushin</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Как твои дела? И..</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="/dialog/1" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            04/12/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Karina Dergun</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">Сделай дизу!</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="/dialog/3" class="contact list-group-item im_dialog ">
                    <div class="im_dialog_meta">
                        <div class="im_dialog_date">
                            08/07/18
                        </div>
                        <span class="badge im_dialog_badge"></span>
                    </div>
                    <div class="im_dialog_photo">
                        <span class="peer_initials im_dialog_photo"></span>
                    </div>
                    <div class="im_dialog_message_wrap">
                        <div class="im_dialog_peer">
                            <span>Ruslan Kvasov</span>
                        </div>
                        <div>
                            <div class="im_dialog_message">
                                <span class="im_short_message_text">JPA!!!!!!!</span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <!--<ul class="nav">-->
            <!--<li class="im_dialog_wrap">Dialog 1</li>-->
            <!--<li class="im_dialog_wrap">Dialog 2</li>-->
            <!--<li class="im_dialog_wrap">Dialog 3</li>-->
            <!--<li class="im_dialog_wrap">Dialog 4</li>-->
            <!--</ul>-->


            <!--Место под поиск диалогов!-->
        </div>
    </div>
</div>


<div class="im_history_col_wrap">
    <div class="dialog">
        <!--<h2>Dialog Example</h2>-->
        <div id="chatbox">
            <div class="im_history_wrap" id="history_wrap">
                <div class="im_history_scrollbar_wrap">
                    <div class="im_history_messages">
                        <th:block th:each="message : ${messages}">
                            <div th:if="${friend_info != null}" id="selectMessage" class="chat_form" role="button">
                                <img th:if="${message.idFromUser == user_info.id}" class="avatar" th:src="@{/setting/picture/} + ${user_info.id} +  ${user_info.avatarType}" alt="Avatar" width="64px" height="64px">
                                <img th:if="${message.idFromUser == friend_info.id}" class="avatar" th:src="@{/setting/picture/} + ${friend_info.id} +  ${friend_info.avatarType}" alt="Avatar" width="64px" height="64px">
                                <input id="messageId" type="hidden" th:value="${message.id}"/>
                                <b><p th:text="${message.nameUser}"></p></b>
                                <div th:wrap="on" th:utext="${message.textMessage.replaceAll('[\n]','<br/> ')}"></div>

                                <div th:if="${message.file != null}">
                                    <a th:href="@{/picture/} + ${message.id} + ${message.fileType}">
                                        <img class="img-responsive"
                                             th:src="@{/picture/} + ${message.id} +  ${message.fileType}"
                                             style="width:200px;height:200px;">
                                    </a>
                                </div>
                                <span class="time-left" th:text="${message.dateMessage}"></span>

                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="im_bottom_panel_wrap">
                <div class="im_send_panel_wrap">
                    <div class="im_send_form_wrap1">
                        <div th:if="${friend_info != null}" class="im_send_form_wrap">

                            <a th:if="${friend_info.avatar == null}" class="im_panel_peer_photo pull-right">
                                <span class="peer_initials im_panel_peer_photo">ap</span>
                            </a>

                            <a th:if="${friend_info.avatar != null}" th:href="@{/setting/picture/} + ${friend_info.id} +  ${friend_info.avatarType}" class="im_panel_peer_photo pull-right">
                                <img class="avatar" th:src="@{/setting/picture/} + ${friend_info.id} +  ${friend_info.avatarType}" alt="Avatar">
                            </a>

                            <a th:if="${user_info.avatar == null}" class="im_panel_own_photo pull-left">
                                <span class="peer_initials im_panel_own_photo">kd</span>
                            </a>

                            <a th:if="${user_info.avatar != null}" th:href="@{/setting/picture/} + ${user_info.id} +  ${user_info.avatarType}" class="im_panel_own_photo pull-left">
                                <img class="avatar" th:src="@{/setting/picture/} + ${user_info.id} +  ${user_info.avatarType}" alt="Avatar">
                            </a>
                            <div class="my-send-form">
                                <form id="send_form" th:action="@{/dialog/{id}(id=${id})}"
                                      th:if="${friend_info != null}" th:object="${message}" method="post"
                                      enctype="multipart/form-data">

                                    <div class="im_send_field_wrap">
                                        <div contenteditable="true" my_placeholder="Writing message ..."
                                             class="rich_message"></div>
                                        <textarea id="input_message" form="send_form" class="message"
                                                  dir="auto" th:field="*{textMessage}"></textarea>
                                    </div>

                                    <div class="im_send_buttons_wrap">
                                        <span id="removeMessage"
                                              class="glyphicon glyphicon-trash pull-left"
                                              role="button">
                                        </span>
                                        <div class="pull-left im_media_attach">
                                            <input id="mediaAttach" type="file" name="file" multiple="multiple"
                                                   title="Send media">
                                            <i class="icon icon_attach"></i>
                                        </div>
                                        <button class="btn im_submit_send" type="submit">SEND</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="im_right_col_wrap">
        <div class="rightnav">

                    <div id="mainwrap">
                        <div id="nowPlay">
                            <span class="right" id="npTitle"></span>
                        </div>
                            <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!
                            </audio>
                            <ul id="plList"></ul>
                    </div>
            </div>


    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/message.js/}"></script>
<script type="text/javascript" th:src="@{/js/contacts.js}"></script>
<script type="text/javascript" th:src="@{/js/addContact.js}"></script>
<script type="text/javascript" th:src="@{/js/userInfo.js}"></script>
<script type="text/javascript" th:src="@{/js/audioPlayer.js}"></script>
</body>
</html>
