<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Modal -->
<div class="modal fade" id="id-info" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title" th:text="'Я = ' + ${user_info.login}"></h4>
            </div>
            <div class="modal-body">
                <h3 th:if="${friend_info != null}">Мои данные
                    <h5 th:text="'id = ' + ${user_info.id}"/>
                    <h5 th:text="'Имя = ' + ${user_info.firstName}"/>
                    <h5 th:text="'Фамилия= ' + ${user_info.lastName}"/>
                    <h5 th:text="'Статус= ' + ${user_info.status}"/>
                    <h5 th:text="'email = ' + ${user_info.email}"/>
                </h3>

                <h3 th:if="${friend_info != null}">Собеседник
                    <h5 th:text="'id = ' + ${friend_info.id}"/>
                    <h5 th:text="'Имя = ' + ${friend_info.firstName}"/>
                    <h5 th:text="'Фамилия= ' + ${friend_info.lastName}"/>
                    <h5 th:text="'Статус= ' + ${friend_info.status}"/>
                    <h5 th:text="'email = ' + ${friend_info.email}"/>
                </h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>