<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Modal -->
<div class="modal fade" id="id-info" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title" th:text="'login = ' + ${user_info.login}"></h4>
            </div>
            <div class="modal-body">
                <h5 th:text="'id = ' + ${user_info.id}"/>
                <h5 th:text="'firstName = ' + ${user_info.firstName}"/>
                <h5 th:text="'lastName = ' + ${user_info.lastName}"/>
                <h5 th:text="'email = ' + ${user_info.email}"/>

                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>